<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">about page</title>
</head>
<body>
<section>
    <div class="container text-center">
        <div class="card">
            <div class="card-body">
                <img style="width: 200px;height:200px" th:src="@{'/img/contact.png'}" class="my_profile_picture" alt="">

            </div>

            <h1>Starting adding your contacts</h1>
            <a th:href="@{/user/add-contact}" class="btn btn-primary btn-block mt-4 ms-2 mb-2 me-4"> Click to add</a>
        </div>
    </div>
    
</section>


</body>
</html>