<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">signup page</title>
    <style>

    </style>
</head>
<body>
<section>
    <div class="container">
        <div class="row">

            <div col-md-6 offset-md-3>
                <div class="my-card mt-5">
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>

                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <div class="container text-center">
                        <img  style="width: 80px" src="" th:src="@{/img/register-icon.png}">
                    </div>

                    <h1 class="text-center text-black"> Register Here</h1>

                    <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

<!--                       name-->

                        <div class="mb-3 ">
                            <label for="name_field" class="form-label text-black">Name</label>
                            <input name="name" type="text" class="form-control transparent-input " th:classappend="${#fields.hasErrors('name')?'is-invalid':'' }" id="name_field" aria-describedby="emailHelp" placeholder="Enter name" required th:value="${user.name}">
                            <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">

                            </div>
                        </div>

<!--                        email-->

                        <div class="mb-3">
                            <label for="email_field" class="form-label text-black">Email</label>
                            <input name="email" type="email" class="form-control transparent-input" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" id="email_field" aria-describedby="emailHelp" placeholder="Enter email" required th:value="${user.email}"/>
                            <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}">
                        </div>

<!--                        password-->

                        <div class="mb-3">
                            <label for="password_field" class="form-label text-black">Password</label>
                            <input name="password" type="password" class="form-control transparent-input" id="password_field" aria-describedby="emailHelp" placeholder="Enter Password" required>

                        </div>

<!--                        about-->

                        <div class="mb-3">
                            <textarea name="about" th:text="${user.about}" rows="5" class="form-control transparent-input text-black " placeholder="Enter something about yourself"> </textarea>
                        </div>

<!--                        terms and condition-->

                        <div class="form-group form check text-center">

                            <input type="checkbox" name="agreement" class="form-check-input" id="agreement">
                            <label for="agreement"> Accept terms and condition</label>

                        </div>


                        <div class="container text-center">

                            <button type="submit" class="btn bg-success text-white btn-lg">Submit</button>
                            <button type="reset" class="btn bg-danger text-white btn-lg">Reset</button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>